{{>header}}

<section>
	<form action="/persist-data" method="post">
		<p>Kurzzeichen: <input type="text" name="slug"></label></p>
		<p>Vorname: <input type="text" name="firstname"></label></p>
		<p>Nachname: <input type="text" name="lastname"></label></p>
		<p>Beschreibung: <input type="text" name="description"></label></p>
		<p><button>Erstellen</button></p>
	</form>
</section>

{{>footer}}
